{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel = "stylesheet" href = "{% static 'css/mypage.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <!-- header -->
        <div class="header">
            <div class="logo">
                <!-- 클릭 시 첫 화면으로 돌아갑니다. -->
                <a href="{% url 'post:index' %} ">Rolling Paper</a>
            </div>
            <div class="logInOut">
                <!-- 클릭 시 첫번째 화면으로 이동해야 합니다. -->
                <a class="logout" href="{% url 'account_logout' %}">로그아웃</a>
            </div>
        </div>
        <!-- content -->
        <div class="myPaper">
            <div class="myPaperHeader">
                <div class="owner">
                    <p id="nicknamePaper">{{ title }}</p>
                </div>
                <div class="back">
                    <!-- 화살표 클릭시 메인페이지로 돌아갑니다.` -->
                    <a class="backArrow" onclick="history.back()">
                        <img src="../../../static/image/backbutton.png">
                    </a>
                </div>
            </div>
            <div class="theList">
                <div class="listContainer">
                    <!-- listContent를 백에서 받아와야 합니다.(제목 / 날짜) 일단 하드코딩으로 임의의 데이터를 추가하였습니다. -->
                {% if comments%}
                {% for comment in comments %}
                    <div class="listContent">
                        <div class="circle">
                            <span></span>
                        </div>
                        <div class="titleDate">
                            <div class="title" style="height: 100%;">
                                <span id="listTitle">
                                    <a href="{% url 'post:comments_detail' post_id comment.id%}">
                                        <p>아이디 : {{ comment.comment_writer }}</p>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                <p style="
                    position: absolute;
                    font-size: 20px;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                ">글이 없습니다.</p>
                {% endif %}
                </div>
                <div class="plusDelete">
                    <div class="plus">
                        <a href="{% url 'post:comments_input' post_id %}">
                            <button class="contentPlus">댓글달기</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src="{% static 'js/mypage.js'%}"></script>