{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel = "stylesheet" href = "{% static 'css/mypage.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <!-- header -->
        <div class="header">
            <div class="logo">
                <!-- 클릭 시 첫 화면으로 돌아갑니다. -->
                <a href="{% url 'post:index' %} ">Rolling Paper</a>
            </div>
            <div class="logInOut">
                <a class="logout" href="{% url 'account_logout' %}">로그아웃</a>
            </div>
        </div>
        <!-- content -->
        <div class="myPaper">
            <div class="myPaperHeader">
                <div class="owner">
                    <!-- 임시로 하드코딩하였습니다. 추후 백에서 데이터를 받아와야 하는 부분입니다. -->
                    <p id="nicknamePaper">{{ user.username }}님의 롤링페이퍼</p>
                </div>
                <div class="back">
                    <!-- 화살표 클릭시 메인페이지로 돌아갑니다.` -->
                    <button onclick="history.back()" type="button" class="backArrow">
                        <img src="../../static/image/backbutton.png">
                    </button>
                </div>
            </div>
            <div class="theList">
                <div class="listContainer">
                    <!-- listContent를 백에서 받아와야 합니다.(제목 / 날짜) 일단 하드코딩으로 임의의 데이터를 추가하였습니다. -->
                {% if posts%}
                {% for post in posts %}
                    <div class="listContent">
                        <div class="circle">
                            <span></span>
                        </div>
                        <div class="titleDate">
                            <div class="title">
                                <span id="listTitle">
                                        <a href="{% url 'post:post_detail' post.id %}">
                                        {{ post.title }}
                                    </a>
                                </span>
                            </div>
                            <div class="date">
                                <span id="listDate">
                                    {% if post.update_dttm %}
                                        <td>{{ post.update_dttm }}</td>
                                    {% else %}
                                        <td>{{ post.write_dttm }}</td>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">글이 없습니다.</td>
                </tr>
                {% endif %}
                </div>
                <div class="plusDelete" style="width: 100%">
                    <div class="plus" style="width: 100%">
                        <a href="{% url 'post:post_write' %}" style="margin: 0 auto">
                            <button  style="text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    background: #61c188;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
border: white;
float :right;
margin-top:20px">글 작성하기</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src="{% static 'js/mypage.js'%}"></script>