{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel = "stylesheet" href = "{% static 'css/mypagePlus.css' %}">
{% endblock %}
{% block content %}
<div class="container">
        <!-- header -->
        <div class="header">
            <div class="logo">
                <a href="{% url 'post:index' %}">Rolling Paper</a>
            </div>
            <div class="logInOut">
                <!-- 클릭 시 첫번째 화면으로 이동해야 합니다. -->
                <a class="logout" href="{% url 'account_logout' %}">로그아웃</a>
            </div>
        </div>
        <!-- content -->
        <div class="contentPlus">
            <div class="myPaperHeader">
                <div class="owner">
                    <!-- 임시로 하드코딩하였습니다. 추후 백에서 데이터를 받아와야 하는 부분입니다. -->
                    {{ post.writer.username }}님의 롤링페이퍼
                </div>
                <div class="back">
                    <button class="backArrow" onclick="history.back()" type="button">
                        <img src="../../static/image/backbutton.png">
                    </button>
                </div>
            </div>
            <div class="modify">
                <div class="modifyContainer">
                    <div id="modifyContent">
                        <div>
                            게시판 종류 : {{ post.post_name }}
                        </div>
                        <div id="paperTitle">
                            제목 : {{ post.title }}
                        </div>
                        <div>
                            기념일 : {{ dday }}
                        </div>
                        <div id="paperContent">
                            내용 : {{ post.contents|safe }}
                        </div>
                    </div>
                    <div class="countComments">
                        {{ comments|length }}개의 댓글이 있습니다.
                    </div>
                    {% if post.writer == request.user %}
                    <div class="modifyDelete">
                        <a class="modifyButton" href="/post_detail/{{ post.id }}/modify/">수정하기</a>
                        <a class="deleteButton" href="/post_detail/{{ post.id }}/delete/">삭제하기</a>
                    </div>
                    {% endif %}
                    <div class="forComments">
                        {% if is_dday is True %}
                        <form action="{% url 'post:comments_view' post.id %}" method="POST" >
                            {% csrf_token %}
                            <input class="seeComments" type="submit" value="댓글 조회하기">
                        </form>
                        <form action="{% url 'post:comments_input' post.id %}" method="POST">
                            {% csrf_token %}
                            <input class="addComments" type="submit" value="댓글 달기">
                        </form>
                        {% else %}
                        <!--create-->
                        <form class="whenFuture" action="{% url 'post:comments_input' post.id %}" method="POST" class="my-3">
                            {% csrf_token %}
                            <div class="checkDate">
                                {{ dday }} 이후에 볼 수 있습니다.
                            </div>
                            <div class="addCommentsBtn">
                                <input class="addComments" type="submit" value="댓글 달기">
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}