
{% block contents %}
<div>게시판 상세보기!</div>
<div style="border: 1px black solid; margin: 20px 0px;"></div>

{% if writer %}
<a href="/post/detail/{{ post.id }}/modify/"><button>수정</button></a>
<a href="/post/detail/{{ post.id }}/delete/"><button>삭제</button></a>
{% endif %}

<div>
    게시판 종류 : {{ post.post_name }}
</div>
<div>
    작성자 : {{ post.writer }} | 작성일 : {{ post.write_dttm }}
</div>
<div>
    제목 : {{ post.title }}
</div>
<div>
    내용 : {{ post.contents|safe }}
</div>
<h4>댓글 목록</h4>

<!--read-->
{% if comments %}
  <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
{% endif %}
<ul>
  {% for comment in comments %}
    <li>
      {{ comment.comment_writer }} - {{ comment.content }}
      <!--delete-->
      {% if user == comment.comment_writer %}
        <form action="{% url 'post:comments_delete' post.pk comment.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <input type="submit" value="DELETE">
        </form>
      {% endif %}
    </li>
  {% empty %}
    <p>댓글이 없어요..</p>
  {% endfor %}
</ul>

<hr>

<!--create-->
{% if request.user.is_authenticated %}
  <form action="{% url 'post:comments_create' post.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
  </form>
{% else %}
  <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
{% endif %}
{% endblock content %}

<!--생략-->